<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="main.java.com.online.web.dao.VideosMapper" >
  <resultMap id="BaseResultMap" type="main.java.com.online.web.model.Videos" >
    <id column="UID" property="uid" jdbcType="INTEGER" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="pron" property="pron" jdbcType="VARCHAR" />
    <result column="word" property="word" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="main.java.com.online.web.model.VideosWithBLOBs" extends="BaseResultMap" >
    <result column="exp" property="exp" jdbcType="LONGVARCHAR" />
    <result column="sentance" property="sentance" jdbcType="LONGVARCHAR" />
    <result column="synon" property="synon" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UID, img, pic, pron, word
  </sql>
  <sql id="Blob_Column_List" >
    exp, sentance, synon
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="main.java.com.online.web.model.VideosExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from videos
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="main.java.com.online.web.model.VideosExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from videos
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from videos
    where UID = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from videos
    where UID = #{uid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="main.java.com.online.web.model.VideosExample" >
    delete from videos
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="main.java.com.online.web.model.VideosWithBLOBs" >
    insert into videos (UID, img, pic, 
      pron, word, exp, 
      sentance, synon)
    values (#{uid,jdbcType=INTEGER}, #{img,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, 
      #{pron,jdbcType=VARCHAR}, #{word,jdbcType=VARCHAR}, #{exp,jdbcType=LONGVARCHAR}, 
      #{sentance,jdbcType=LONGVARCHAR}, #{synon,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="main.java.com.online.web.model.VideosWithBLOBs" >
    insert into videos
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        UID,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="pron != null" >
        pron,
      </if>
      <if test="word != null" >
        word,
      </if>
      <if test="exp != null" >
        exp,
      </if>
      <if test="sentance != null" >
        sentance,
      </if>
      <if test="synon != null" >
        synon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="pron != null" >
        #{pron,jdbcType=VARCHAR},
      </if>
      <if test="word != null" >
        #{word,jdbcType=VARCHAR},
      </if>
      <if test="exp != null" >
        #{exp,jdbcType=LONGVARCHAR},
      </if>
      <if test="sentance != null" >
        #{sentance,jdbcType=LONGVARCHAR},
      </if>
      <if test="synon != null" >
        #{synon,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="main.java.com.online.web.model.VideosExample" resultType="java.lang.Integer" >
    select count(*) from videos
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update videos
    <set >
      <if test="record.uid != null" >
        UID = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.img != null" >
        img = #{record.img,jdbcType=VARCHAR},
      </if>
      <if test="record.pic != null" >
        pic = #{record.pic,jdbcType=VARCHAR},
      </if>
      <if test="record.pron != null" >
        pron = #{record.pron,jdbcType=VARCHAR},
      </if>
      <if test="record.word != null" >
        word = #{record.word,jdbcType=VARCHAR},
      </if>
      <if test="record.exp != null" >
        exp = #{record.exp,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.sentance != null" >
        sentance = #{record.sentance,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.synon != null" >
        synon = #{record.synon,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update videos
    set UID = #{record.uid,jdbcType=INTEGER},
      img = #{record.img,jdbcType=VARCHAR},
      pic = #{record.pic,jdbcType=VARCHAR},
      pron = #{record.pron,jdbcType=VARCHAR},
      word = #{record.word,jdbcType=VARCHAR},
      exp = #{record.exp,jdbcType=LONGVARCHAR},
      sentance = #{record.sentance,jdbcType=LONGVARCHAR},
      synon = #{record.synon,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update videos
    set UID = #{record.uid,jdbcType=INTEGER},
      img = #{record.img,jdbcType=VARCHAR},
      pic = #{record.pic,jdbcType=VARCHAR},
      pron = #{record.pron,jdbcType=VARCHAR},
      word = #{record.word,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="main.java.com.online.web.model.VideosWithBLOBs" >
    update videos
    <set >
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="pron != null" >
        pron = #{pron,jdbcType=VARCHAR},
      </if>
      <if test="word != null" >
        word = #{word,jdbcType=VARCHAR},
      </if>
      <if test="exp != null" >
        exp = #{exp,jdbcType=LONGVARCHAR},
      </if>
      <if test="sentance != null" >
        sentance = #{sentance,jdbcType=LONGVARCHAR},
      </if>
      <if test="synon != null" >
        synon = #{synon,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where UID = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="main.java.com.online.web.model.VideosWithBLOBs" >
    update videos
    set img = #{img,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      pron = #{pron,jdbcType=VARCHAR},
      word = #{word,jdbcType=VARCHAR},
      exp = #{exp,jdbcType=LONGVARCHAR},
      sentance = #{sentance,jdbcType=LONGVARCHAR},
      synon = #{synon,jdbcType=LONGVARCHAR}
    where UID = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="main.java.com.online.web.model.Videos" >
    update videos
    set img = #{img,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      pron = #{pron,jdbcType=VARCHAR},
      word = #{word,jdbcType=VARCHAR}
    where UID = #{uid,jdbcType=INTEGER}
  </update>
</mapper>